#left {
    width: 5fr;   /* 80% */
}

#right {
    width: 2fr;   /* 20% */
}

CLIArt {
    width: 100%;
    height: 7;
    border: solid magenta;
}

APIStatus {
    width: 100%;
    content-align: center middle;
    height: auto;
}

#main_display {
    width: 100%;
    height: 1fr;
    overflow: auto auto;
}
PokemonCard {
        width: 100%;
        height: 3fr;
        border: solid magenta;
}
AuthorNotes {
        width: 100%;
        height: auto;
        content-align: center top;
}


